body {
    background-color: darkorange;
    /* background-image: url('img/background.png'); */
    user-select: none;
    margin: 0;
}

.game-title {
    height: 220px;
    width: 500px;
    position: absolute;
    right: 37%;
    top: 0;
}

.game-table {
    margin: auto;
    margin-top: 17.5%;
    text-align: center;
    border-collapse: collapse;
    border: 5px solid black;
    background-color: gainsboro;
}

.cell {
    height: 45px;
    width: 45px;
    border: 2px solid black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: all ease-in 0.5s;
}

.cell img {
    width: 20px;
    height: 20px;
}

.hidden {
    background-color: orangered;
}

.game-difficlty {
    text-align: center;
    margin-top: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 32px;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #000;
    font-size: 18px;
    color: white;
}

.game-btns {
    position: absolute;
    text-align: center;
    left: 35.9%;
    top: 30%;
}

.difficulty-btn {
    height: 30px;
    width: 95px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: coral;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.selected-btn {
    background-color: orangered;
}

.hidden:hover,
.difficulty-btn:hover {
    background-color: darkorange;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.game-wrapper {
    position: relative;
}

.game-msg {
    position: absolute;
    right: 14%;
    top: 36%;
    display: none;
}

.game-msg img {
    transform: scaleX(-1);
    height: 200px;
    width: 400px;
}

.game-msg span {
    font-size: 2rem;
    font-weight: bold;
    font-family: cursive;
    position: absolute;
    width: 290px;
    top: 35%;
    text-align: center;
    left: 52%;
    transform: translate(-50%, -50%);
}

.buu-character {
    height: 450px;
    width: 300px;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.restart-game {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 47.5%;
    top: 19%;
    cursor: pointer;
}

.goku-character {
    height: 450px;
    position: absolute;
    left: 55px;
    top: 35px;
    transform: scaleX(-1) rotate(35deg);
    width: 350px;
}

.spiritbomb-goku {
    height: 150px;
    position: absolute;
    left: 270px;
    width: 160px;
    top: 280px;
    transition: opacity 3s ease-out;
    opacity: 0;
    visibility: hidden;
}

.show-spiritbomb {
    opacity: 1;
    visibility: visible;
}

.game-info {
    position: absolute;
    height: 55px;
    width: 650px;
    left: 34.3%;
    top: 23%;
    font-family: cursive;
    font-size: 2rem;
}

.lives-info,
.hints-info {
    width: 190px;
    height: 55px;
}

.hints-info {
    position: absolute;
    left: 65%;
    top: 0px;
}

.game-info img {
    height: 50px;
    width: 25px;
    margin-bottom: -18px;
}

.hints-info img:hover {
    cursor: pointer;
}

.score-container {
    position: absolute;
    font-family: cursive;
    right: 6%;
    top: 12%;
    height: 200px;
    width: 340px;
    background-color: orangered;
    border: 5px solid white;
    text-align: center;
    line-height: 36px;
    font-size: 15px;
}

.game-timer {
    top: 2%;
    background-color: orangered;
    position: absolute;
    height: 80px;
    width: 220px;
    left: 79%;
    border: 5px solid white;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    line-height: 80px;
    transition: all ease-in-out 0.5s;
}

.best-score span {
    font-size: 50px;
    color: yellow;
}

.current-score span {
    color: white;
}

.goku-aura {
    position: absolute;
    height: 575px;
    width: 540px;
    transform: rotate(339deg);
    top: -3%;
    left: -2%;
}

.safe-click,
.undo-click {
    height: 40px;
    border: 3px solid black;
    font-family: cursive;
    font-weight: bold;
    background-color: red;
    width: 120px;
    font-size: 15px;
    cursor: pointer;
}

.safe-click:hover,
.undo-click:hover {
    background-color: coral;
}

.cellHighlight {
    background-color: gold;
}

.setmines-click {
    height: 40px;
    border: 3px solid black;
    font-family: cursive;
    font-weight: bold;
    background-color: red;
    width: 200px;
    font-size: 15px;
    cursor: pointer;
}

.active-mode {
    background-color: green;
}